# HandsOn Week 6 RDD Spark
Selamat datang di HandsOn Week 6, yaitu tentang pemrosesan data terdistribusi menggunakan Spark. Untuk tujuan pembelajaran, seperti biasa, kita akan menggunakan *pseudo-distributed mode* (single node cluster) di VM yang telah disediakan. Dengan kode yang *similar* di cluster komputer dengan *n* workers, maka komputasi akan tersebar ke *n* workers tersebut. Adapun yang akan kita coba kali ini adalah melakukan komputasi menggunakan RDD dan DataFrame. Berikut catatan-catatan yang perlu kamu perhatikan dalam hands-on ini:
1. Untuk menjalankan Apache Spark dalam bahasa python di VM, ketikkan perintah ```pyspark``` di terminal.
2. Dari semua Milestone, data input yang digunakan adalah data "purchases.txt" yang telah diletakkan di HDFS. Oleh karena itu, pastikan hadoop service kamu berjalan (```start-dfs.sh```, ```start-yarn.sh```, ```jps```). Untuk membaca data dari HDFS, lihat kembali di slide perkuliahan.
3. Untuk Milestone 1, 2 dan 3, kalian perlu untuk mencatat waktu yang diperlukan saat melakukan MapReduce menggunakan hadoop streaming jar di hands-on sebelumnya. Waktu bisa dihitung dari selisih "waktu awal" dan "waktu akhir" yang tampak di terminal saat kalian selesain melakukan MapReduce -atau menggunakan cara lain yang masih *acceptable*-. (lihat ilustrasi di bawah).
4. Lakukan zip file jupyter notebook ini beserta gambar-gambar yang diperlukan -screenshot waktu proses MapReduce Hadoop jar-, dan submit ke portal kuliah EDUNEX dengan format nama "**HandsOnWeek10_NIM_NamaLengkap.zip**". Pastikan file jupyter notebook yang kamu zip dalam kondisi memiliki output per cellnya (tidak kosong karena belum dijalankan). <br>

## Milestone 1
Kerjakan Milestone 1 pada HandsOn Week 6(sebelumnya), akan tetapi menggunakan RDD Spark. Catat waktu (bandingkan) yang dibutuhkan (dalam detik) antara: "MapReduce menggunakan hadoop streaming jar" dengan yang akan kamu proses menggunakan RDD Spark ini.

In [7]:
from time import time

def m1_mapper(x):
    data = x.split("\t")
    try:
        if ("toys" in data[3].lower()):
            return ("Toys", float(data[4]))
        elif ("consumer electronics" in data[3].lower()):
            return ("Consumer Electronics", float(data[4]))
    except:
        pass
    return None

m1_start = time()
data = sc.textFile("hdfs://localhost:9000/purchases/purchases.txt")
mapped_data = (data.filter(
        lambda x: ("toys" in x.split("\t")[3].lower()) or ("consumer electronics" in x.split("\t")[3].lower())
    ).map(m1_mapper)
)
result = toy_electronic.reduceByKey(lambda x,y: x+y)
print(result.collect())
m1_end = time()

print("Waktu yang diperlukan dengan Hadoop:", 97.622-42.046)
print("Waktu yang diperlukan dengan RDD Spark:", m1_t1-m1_t0)

[('Consumer Electronics', 57452374.12999931), ('Toys', 57463477.10999949)]
Waktu yang diperlukan dengan Hadoop: 55.576
Waktu yang diperlukan dengan RDD Spark: 31.404622077941895

#### {tempatkan gambar screenshot yang menunjukkan waktu proses MapReduce Hadoop jar di sini}
<img title="Waktu Awal" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090508709463072830/image.png" alt="Drawing" style="width: 600px;"/>
<img title="Waktu Akhir" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090508871124136019/image.png" alt="Drawing" style="width: 600px;"/>

## Milestone 2
Kerjakan Milestone 2 pada HandsOn Week5 (sebelumnya), akan tetapi menggunakan RDD Spark. Catat waktu (bandingkan) yang dibutuhkan (dalam detik) antara: "MapReduce menggunakan hadoop streaming jar" dengan yang akan kamu proses menggunakan RDD Spark ini.

In [11]:
def m2_mapper(x):
    data = x.split("\t")
    try:
        return (data[2], (data[3], float(data[4])))
    except:
        pass
    return None

m2_start = time()
data = sc.textFile("hdfs://localhost:9000/purchases/purchases.txt")
mapped = (data
    .filter(lambda x: x.split('\t')[2].lower() in ['miami', 'san francisco', 'atlanta'])
    .map(m2_mapper)
    .filter(lambda x: x is not None )
)
result = mapped.reduceByKey(lambda x,y: x if (x[1] > y[1]) else y)
print(result.collect())
m2_end = time()

print("Waktu yang diperlukan dengan Hadoop:", 93.344)
print("Waktu yang diperlukan dengan RDD Spark:", m2_end-m2_start)

[('San Francisco', ("Men's Clothing", 499.97)), ('Atlanta', ('Pet Supplies', 499.96)), ('Miami', ("Men's Clothing", 499.98))]
Waktu yang diperlukan dengan Hadoop: 93.344
Waktu yang diperlukan dengan RDD Spark: 17.177343130111694

#### {tempatkan gambar screenshot yang menunjukkan waktu proses MapReduce Hadoop jar di sini}
<img title="Waktu Awal" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090509113156440074/image.png" alt="Drawing" style="width: 600px;"/>
<img title="Waktu Akhir" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090510486262526002/image.png" alt="Drawing" style="width: 600px;"/>

## Milestone 3
Kerjakan Milestone 3 pada HandsOn Week5 (sebelumnya), akan tetapi menggunakan RDD Spark. Catat waktu (bandingkan) yang dibutuhkan (dalam detik) antara: "MapReduce menggunakan hadoop streaming jar" dengan yang akan kamu proses menggunakan RDD Spark ini.

In [7]:
# Tuliskan code kamu di sini
from time import time
def m3_mapper(x):
    data = x.split("\t")
    _, a_time, _, _, _, _ = data
    if (len(data) == 6):
        if (a_time >= "09:01" and a_time <= "10.00" ):
            return("09:01-10:00", 1)
        elif (a_time >= "10:01" and a_time <= "11.00" ):
            return("10:01-11:00", 1)
        else:
            return None

        
m3_t0 = time()
data = sc.textFile("hdfs://localhost:9000/purchases/purchases.txt")

time_filter = (data.map(mapper).filter(lambda x: x is not None )

)

result = time_filter.reduceByKey(lambda x,y: x+y)
print(result.collect())
m3_t1 = time()

print("Waktu yang diperlukan dengan Hadoop:", 73.182)
print("Waktu yang diperlukan dengan RDD Spark:", m3_t1-m3_t0)

[('09:01-10:00', 452043), ('10:01-11:00', 452154)]
Waktu yang diperlukan dengan Hadoop: 73.182
Waktu yang diperlukan dengan RDD Spark: 20.38121008872986

#### {tempatkan gambar screenshot yang menunjukkan waktu proses MapReduce Hadoop jar di sini}
<img title="Waktu Awal" align="left" src="M3-start.png" alt="Drawing" style="width: 600px;"/>
<img title="Waktu Akhir" align="left" src="M3-end.png" alt="Drawing" style="width: 600px;"/>

## Milestone 4
Milestone ini dibagi menjadi 4.1, 4.2 dan 4.3 yang masing-masing secara berturut-turut adalah mengerjakan ulang Milestone 1, 2 dan 3 di atas (menggunakan RDD Spark), akan tetapi menggunakan trik "**persist() RDD**" untuk mempercepat prosesnya. Kamu bisa melakukan "**persist**" untuk RDD mana saja yang kamu anggap dapat memberikan waktu proses tercepat.

In [61]:
# Tuliskan code kamu di sini
def mapper1(data):
    item = data[3]
    price =  float(data[4])
    if (len(data) == 6):
        if ("toys" in item.lower()):
            item = "Toys"
            return (item, price)
        elif ("consumer electronics" in item.lower()):
            item = "Consumer Electronics"
            return (item, price)
        else:
            return None

def mapper2(data):
    _, _, store, item, price, _ = data
    price =  float(price)
    return (store, (item, price))

def mapper3(data):
    a_time = data[1]
    if (len(data) == 6):
        if (a_time >= "09:01" and a_time <= "10.00" ):
            return("09:01-10:00", 1)
        elif (a_time >= "10:01" and a_time <= "11.00" ):
            return("10:01-11:00", 1)
        else:
            return None


t0 = time()
data = sc.textFile("hdfs://localhost:9000/purchases/purchases.txt")
data = data.map(lambda x : x.split('\t')).persist()


#Milestone 1
m1 = data.map(mapper1).filter(lambda x: x is not None)
result_m1 = m1.reduceByKey(lambda x, y : x + y)
print(result_m1.collect())
t1 = time()

#Milestone 2
m2 = data.filter(lambda x: x[2].lower() in ['miami', 'san francisco', 'atlanta']).map(mapper2)
result_m2 = m2.reduceByKey(lambda x,y: x if x[1] > y[1] else y)
print(result_m2.collect())
t2 = time()
#Milestone 3
m3 = data.map(mapper3).filter(lambda x: x is not None)
result_m3 = m3.reduceByKey(lambda x, y : x + y)
print(result_m3.collect())
t3 = time()



print("Waktu Milestone 1:", m1_t1-m1_t0, " vs. Waktu Milestone 4.1:", t1-t0)
print("Waktu Milestone 2:", m2_t1-m2_t0, " vs. Waktu Milestone 4.2:", t2-t1)
print("Waktu Milestone 3:", m3_t1-m3_t0, " vs. Waktu Milestone 4.3:", t3-t2)

[('Consumer Electronics', 57452374.12999931), ('Toys', 57463477.10999949)]
[('San Francisco', ("Men's Clothing", 499.97)), ('Atlanta', ('Pet Supplies', 499.96)), ('Miami', ("Men's Clothing", 499.98))]
[('09:01-10:00', 452043), ('10:01-11:00', 452154)]
Waktu Milestone 1: 21.32858943939209  vs. Waktu Milestone 4.1: 36.74537372589111
Waktu Milestone 2: 17.744704246520996  vs. Waktu Milestone 4.2: 9.23516035079956
Waktu Milestone 3: 20.38121008872986  vs. Waktu Milestone 4.3: 10.887548923492432

## Milestone 5
Milestone ini dibagi menjadi 5.1, 5.2 dan 5.3 yang masing-masing secara berturut-turut adalah mengerjakan ulang Milestone 1, 2 dan 3 di atas, akan tetapi menggunakan DataFrame dari Apache Spark. Catat waktu yang diperlukan untuk masing-masing proses (5.1, 5.2 dan 5.3).

In [62]:
# Tuliskan code kamu di sini
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, regexp_replace

spark = SparkSession \
    .builder \
    .appName("dataframe-spark") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

df = spark.read.csv("hdfs://localhost:9000/purchases/purchases.txt", inferSchema=True, sep="\t")
df = df.selectExpr("_c0 as date", "_c1 as time", "_c2 as store", "_c3 as item", "_c4 as price", "_c5 as payment")

df.createOrReplaceTempView("purchases")

t0 = time()
spark.sql("SELECT (CASE WHEN item LIKE 'Consumer Electronics' THEN 'Consumer Electronics' WHEN item LIKE 'Toys' \
Then 'Toys' Else NULL END) as product, sum(price) \
FROM purchases GROUP BY product ").filter('product is not null').show()
t1 = time()
maxPrice = spark.sql("Select store, max(price) as max_price from purchases group by store").filter("store = 'Miami' or store = 'Atlanta' or store = 'San Francisco'").createOrReplaceTempView("maxPrice")
m2 = spark.sql("select maxPrice.store, item, price from purchases inner join maxPrice where price = max_price").show()
t2 = time()
m3 = df.filter("time <= '11:00' and time >= '09:01'").selectExpr("time <= '10:00' and time >= '09:01' as time_group", 'item').groupBy('time_group').count()
m3 = m3.withColumn("time_group", regexp_replace('time_group', 'true', '09:01-10:00'))
m3.withColumn("time_group", regexp_replace('time_group', 'false', '10:01-11:00')).show()
t3 = time()
print("Waktu Milestone 5.1:", t1-t0)
print("Waktu Milestone 5.2:", t2-t1)
print("Waktu Milestone 5.3:", t3-t2)

+--------------------+-------------------+
|             product|         sum(price)|
+--------------------+-------------------+
|Consumer Electronics|5.745237412999931E7|
|                Toys|5.746347710999949E7|
+--------------------+-------------------+

+-------+-------------------+------+
|  store|               item| price|
+-------+-------------------+------+
|Atlanta|               Baby|499.96|
|Atlanta|               DVDs|499.96|
|Atlanta|                CDs|499.96|
|Atlanta|              Music|499.96|
|Atlanta|Children's Clothing|499.96|
|Atlanta|Children's Clothing|499.96|
|Atlanta|     Sporting Goods|499.96|
|Atlanta|            Cameras|499.96|
|Atlanta|   Women's Clothing|499.96|
|Atlanta|              Books|499.96|
|Atlanta|Children's Clothing|499.96|
|Atlanta|               Baby|499.96|
|Atlanta|     Sporting Goods|499.96|
|Atlanta|              Music|499.96|
|Atlanta|Children's Clothing|499.96|
|Atlanta|          Computers|499.96|
|Atlanta|Children's Clothing|499.96|
|Atlanta|              Books|499.96|
|Atlanta|               DVDs|499.96|
|Atlanta|               Toys|499.96|
+-------+-------------------+------+
only showing top 20 rows

+-----------+------+
| time_group| count|
+-----------+------+
|09:01-10:00|459775|
|10:01-11:00|459825|
+-----------+------+

Waktu Milestone 5.1: 11.99240517616272
Waktu Milestone 5.2: 25.62139320373535
Waktu Milestone 5.3: 12.586020469665527