# HandsOn Week 6 RDD Spark
Selamat datang di HandsOn Week 6, yaitu tentang pemrosesan data terdistribusi menggunakan Spark. Untuk tujuan pembelajaran, seperti biasa, kita akan menggunakan *pseudo-distributed mode* (single node cluster) di VM yang telah disediakan. Dengan kode yang *similar* di cluster komputer dengan *n* workers, maka komputasi akan tersebar ke *n* workers tersebut. Adapun yang akan kita coba kali ini adalah melakukan komputasi menggunakan RDD dan DataFrame. Berikut catatan-catatan yang perlu kamu perhatikan dalam hands-on ini:
1. Untuk menjalankan Apache Spark dalam bahasa python di VM, ketikkan perintah ```pyspark``` di terminal.
2. Dari semua Milestone, data input yang digunakan adalah data "purchases.txt" yang telah diletakkan di HDFS. Oleh karena itu, pastikan hadoop service kamu berjalan (```start-dfs.sh```, ```start-yarn.sh```, ```jps```). Untuk membaca data dari HDFS, lihat kembali di slide perkuliahan.
3. Untuk Milestone 1, 2 dan 3, kalian perlu untuk mencatat waktu yang diperlukan saat melakukan MapReduce menggunakan hadoop streaming jar di hands-on sebelumnya. Waktu bisa dihitung dari selisih "waktu awal" dan "waktu akhir" yang tampak di terminal saat kalian selesain melakukan MapReduce -atau menggunakan cara lain yang masih *acceptable*-. (lihat ilustrasi di bawah).
4. Lakukan zip file jupyter notebook ini beserta gambar-gambar yang diperlukan -screenshot waktu proses MapReduce Hadoop jar-, dan submit ke portal kuliah EDUNEX dengan format nama "**HandsOnWeek10_NIM_NamaLengkap.zip**". Pastikan file jupyter notebook yang kamu zip dalam kondisi memiliki output per cellnya (tidak kosong karena belum dijalankan). <br>

## Milestone 1
Kerjakan Milestone 1 pada HandsOn Week 6(sebelumnya), akan tetapi menggunakan RDD Spark. Catat waktu (bandingkan) yang dibutuhkan (dalam detik) antara: "MapReduce menggunakan hadoop streaming jar" dengan yang akan kamu proses menggunakan RDD Spark ini.

In [7]:
from time import time

def m1_mapper(x):
    data = x.split("\t")
    try:
        if ("toys" in data[3].lower()):
            return ("Toys", float(data[4]))
        elif ("consumer electronics" in data[3].lower()):
            return ("Consumer Electronics", float(data[4]))
    except:
        pass
    return None

m1_start = time()
data = sc.textFile("hdfs://localhost:9000/purchases/purchases.txt")
mapped_data = (data.filter(
        lambda x: ("toys" in x.split("\t")[3].lower()) or ("consumer electronics" in x.split("\t")[3].lower())
    ).map(m1_mapper)
)
result = toy_electronic.reduceByKey(lambda x,y: x+y)
print(result.collect())
m1_end = time()

print("Waktu yang diperlukan dengan Hadoop:", 97.622-42.046)
print("Waktu yang diperlukan dengan RDD Spark:", m1_t1-m1_t0)

[('Consumer Electronics', 57452374.12999931), ('Toys', 57463477.10999949)]
Waktu yang diperlukan dengan Hadoop: 55.576
Waktu yang diperlukan dengan RDD Spark: 31.404622077941895

#### {tempatkan gambar screenshot yang menunjukkan waktu proses MapReduce Hadoop jar di sini}
<img title="Waktu Awal" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090508709463072830/image.png" alt="Drawing" style="width: 600px;"/>
<img title="Waktu Akhir" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090508871124136019/image.png" alt="Drawing" style="width: 600px;"/>

## Milestone 2
Kerjakan Milestone 2 pada HandsOn Week5 (sebelumnya), akan tetapi menggunakan RDD Spark. Catat waktu (bandingkan) yang dibutuhkan (dalam detik) antara: "MapReduce menggunakan hadoop streaming jar" dengan yang akan kamu proses menggunakan RDD Spark ini.

In [17]:
def m2_mapper(x):
    data = x.split("\t")
    try:
        if data[2].lower() in ['miami', 'san francisco', 'atlanta']:
            return (data[2], (data[3], float(data[4])))
    except:
        pass
    return None

m2_start = time()
data = sc.textFile("hdfs://localhost:9000/purchases/purchases.txt")
mapped = (data
    .filter(lambda x: x.split('\t')[2].lower() in ['miami', 'san francisco', 'atlanta'])
    .map(m2_mapper)
    .filter(lambda x: x is not None )
)
result = mapped.reduceByKey(lambda x,y: x if (x[1] > y[1]) else y)
print(result.collect())
m2_end = time()

print("Waktu yang diperlukan dengan Hadoop:", 56.833 - 3.436)
print("Waktu yang diperlukan dengan RDD Spark:", m2_end-m2_start)

[('San Francisco', ("Men's Clothing", 499.97)), ('Atlanta', ('Pet Supplies', 499.96)), ('Miami', ("Men's Clothing", 499.98))]
Waktu yang diperlukan dengan Hadoop: 53.397
Waktu yang diperlukan dengan RDD Spark: 11.250900745391846

#### {tempatkan gambar screenshot yang menunjukkan waktu proses MapReduce Hadoop jar di sini}
<img title="Waktu Awal" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090509113156440074/image.png" alt="Drawing" style="width: 600px;"/>
<img title="Waktu Akhir" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090510486262526002/image.png" alt="Drawing" style="width: 600px;"/>

## Milestone 3
Kerjakan Milestone 3 pada HandsOn Week5 (sebelumnya), akan tetapi menggunakan RDD Spark. Catat waktu (bandingkan) yang dibutuhkan (dalam detik) antara: "MapReduce menggunakan hadoop streaming jar" dengan yang akan kamu proses menggunakan RDD Spark ini.

In [22]:
# Tuliskan code kamu di sini
from time import time
def m3_mapper(x):
    data = x.split("\t")
    if (data[1] >= "09:01" and data[1] <= "10.00" ):
        return("09:01-10:00", 1)
    elif (data[1] >= "10:01" and data[1] <= "11.00" ):
        return("10:01-11:00", 1)
    return None

        
m3_start = time()
data = sc.textFile("hdfs://localhost:9000/purchases/purchases.txt")

time_filter = (data
    .filter(lambda x: ("09:01" <= x.split("\t")[1]) and (x.split("\t")[1] <= "11:00"))
    .map(m3_mapper)
    .filter(lambda x: x is not None)
)

result = time_filter.reduceByKey(lambda x,y: x+y)
print(result.collect())
m3_end = time()

print("Waktu yang diperlukan dengan Hadoop:", 103.835 - 45.526)
print("Waktu yang diperlukan dengan RDD Spark:", m3_end-m3_start)

[('09:01-10:00', 452043), ('10:01-11:00', 452154)]
Waktu yang diperlukan dengan Hadoop: 58.30899999999999
Waktu yang diperlukan dengan RDD Spark: 10.184515953063965

#### {tempatkan gambar screenshot yang menunjukkan waktu proses MapReduce Hadoop jar di sini}
<img title="Waktu Awal" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090510611923869736/image.png" alt="Drawing" style="width: 600px;"/>
<img title="Waktu Akhir" align="left" src="https://cdn.discordapp.com/attachments/997006490877567076/1090510729746071652/image.png" alt="Drawing" style="width: 600px;"/>

## Milestone 4
Milestone ini dibagi menjadi 4.1, 4.2 dan 4.3 yang masing-masing secara berturut-turut adalah mengerjakan ulang Milestone 1, 2 dan 3 di atas (menggunakan RDD Spark), akan tetapi menggunakan trik "**persist() RDD**" untuk mempercepat prosesnya. Kamu bisa melakukan "**persist**" untuk RDD mana saja yang kamu anggap dapat memberikan waktu proses tercepat.

In [25]:
t0 = time()
data = sc.textFile("hdfs://localhost:9000/purchases/purchases.txt").persist()

mapped1 = data.map(m1_mapper).filter(lambda x: x is not None)#.persist()
result_m1 = mapped1.reduceByKey(lambda x, y : x + y)
print(result_m1.collect())
t1 = time()

mapped2 = data.map(m2_mapper).filter(lambda x: x is not None)#.persist()
result_m2 = mapped2.reduceByKey(lambda x,y: x if x[1] > y[1] else y)
print(result_m2.collect())
t2 = time()

mapped3 = data.map(m3_mapper).filter(lambda x: x is not None)#.persist()
result_m3 = mapped3.reduceByKey(lambda x, y : x + y)
print(result_m3.collect())
t3 = time()

print("M1:", m1_end - m1_start, " vs M4.1:", t1 - t0)
print("M2:", m2_end - m2_start, " vs M4.2:", t2 - t1)
print("M3:", m3_end - m3_start, " vs M4.3:", t3 - t2)

[('Consumer Electronics', 57452374.12999931), ('Toys', 57463477.10999949)]
[('San Francisco', ("Men's Clothing", 499.97)), ('Atlanta', ('Pet Supplies', 499.96)), ('Miami', ("Men's Clothing", 499.98))]
[('09:01-10:00', 452043), ('10:01-11:00', 452154)]
M1: 22.396260023117065  vs M4.1: 12.49790096282959
M2: 11.250900745391846  vs M4.2: 9.130762100219727
M3: 10.184515953063965  vs M4.3: 9.907243967056274

## Milestone 5
Milestone ini dibagi menjadi 5.1, 5.2 dan 5.3 yang masing-masing secara berturut-turut adalah mengerjakan ulang Milestone 1, 2 dan 3 di atas, akan tetapi menggunakan DataFrame dari Apache Spark. Catat waktu yang diperlukan untuk masing-masing proses (5.1, 5.2 dan 5.3).

In [27]:
# Tuliskan code kamu di sini
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, regexp_replace

spark = (SparkSession.builder.appName("dataframe-spark")
    .config("spark.some.config.option", "some-value").getOrCreate()
)

df = spark.read.csv("hdfs://localhost:9000/purchases/purchases.txt", inferSchema=True, sep="\t")
df = df.selectExpr("_c0 as tanggal", "_c1 as jam", "_c2 as kota", "_c3 as barang", "_c4 as harga", "_c5 as bayar")

df.createOrReplaceTempView("purchases")
t0 = time()

spark.sql('''
SELECT barang, sum(harga) AS jumlah_harga
FROM (SELECT barang, harga FROM purchases WHERE barang LIKE '%Consumer Electronics%' OR barang LIKE '%Toys%') AS filtered_purchases
GROUP BY barang
''').show()
t1 = time()

#max_purchases = spark.sql("Select toko, max(harga) as max_price from purchases group by store").filter("store = 'Miami' or store = 'Atlanta' or store = 'San Francisco'").createOrReplaceTempView("maxPrice")
spark.sql('''
WITH filtered_purchases AS (
SELECT kota, harga, barang FROM purchases
WHERE kota = 'Miami' OR kota = 'San Francisco' OR kota = 'Atlanta'
),
max_purchases AS (
SELECT kota, MAX(harga) AS max_penjualan
FROM filtered_purchases GROUP BY kota
)
SELECT filtered_purchases.kota, max_penjualan, MIN(barang) AS min_barang
FROM filtered_purchases JOIN max_purchases
ON filtered_purchases.kota = max_purchases.kota
AND filtered_purchases.harga = max_purchases.max_penjualan
GROUP BY filtered_purchases.kota, max_penjualan
''').show()
t2 = time()

spark.sql('''
SELECT cutoff, COUNT(*) FROM (
SELECT (jam > '10:00') AS cutoff, *
FROM (SELECT * FROM purchases WHERE jam > '09:00' AND jam <= '11:00')
) AS temporary GROUP BY cutoff
''').show()
t3 = time()

print("M5.1:", t1-t0)
print("M5.2:", t2-t1)
print("M5.3:", t3-t2)

+--------------------+-------------------+
|              barang|       jumlah_harga|
+--------------------+-------------------+
|Consumer Electronics|5.745237412999931E7|
|                Toys|5.746347710999949E7|
+--------------------+-------------------+

+-------------+-------------+--------------+
|         kota|max_penjualan|    min_barang|
+-------------+-------------+--------------+
|        Miami|       499.98|Men's Clothing|
|San Francisco|       499.97|Men's Clothing|
|      Atlanta|       499.96|  Pet Supplies|
+-------------+-------------+--------------+

+------+--------+
|cutoff|count(1)|
+------+--------+
|  true|  459825|
| false|  459775|
+------+--------+

M5.1: 7.472270488739014
M5.2: 21.279218435287476
M5.3: 7.105727195739746